// color
$white: #fff;
$dark-gray: #404145;
$light-gray: #74767e;
$lighter-gray: #efeff0;
$black: #222325;
$light-green: #1dbf73;
$dark-green: #003912;
$orange: #fc832b;
$light-orange: #fff6f2;
$dark-purple: #4d1727;

// font-weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

// font-size:
$fz-1: 64px;
$fz-2: 60px;
$fz-3: 48px;
$fz-4: 30px;
$fz-5: 24px;
$fz-6: 20px;
$fz-7: 18px;
$fz-8: 16px;
$fz-9: 15px;
$fz-10: 14px;
$fz-11: 13px;
