@import "../../styles/font.scss";
@import "../../styles/helpers/variable";

.job_detail {
  font-family: "macan-regular";

  h3 {
    line-height: 1.2;
    font-size: $fz-4;
    font-weight: $fw-600;
    color: $dark-gray;
  }

  h4 {
    font-family: "macan-bold";
    font-size: $fz-7;
  }
}
