@font-face {
  font-family: "macan-light";
  src: url(../assets/fonts/macan-light.woff2);
}

@font-face {
  font-family: "macan-bold";
  src: url(../assets/fonts/macan-bold.woff2);
}

@font-face {
  font-family: "macan-regular";
  src: url(../assets/fonts/macan-regular.woff2);
}

@font-face {
  font-family: "macan-semibold";
  src: url(../assets//fonts/macan-semibold.woff2);
}

@font-face {
  font-family: "domaine-regular";
  src: url(../assets/fonts/domaine-display-web-regular.woff2);
}

@font-face {
  font-family: "domaine-bold";
  src: url(../assets/fonts/domaine-display-web-bold.woff2);
}

@font-face {
  font-family: "domaine-italic";
  src: url(../assets/fonts/domaine-display-web-medium-italic.woff2);
}
